/* Vanilla CSS */

.container {
  overflow-y: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
}

#left {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  max-height: calc(100vh - 120px); /* Adjust the max height as needed */
  overflow-y: auto; /* Add a scrollbar when content overflows */
}

#right {
  flex: 1;
  /* padding: 30px; */
  margin: 10px 10px 0px 20px;
  /* border: 2px solid black; */
  /* background-color: #f1f1f1; */
  position: sticky;
  height: max-content;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  background-color: #ffcc00;
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-strength {
  margin-bottom: 10px;
}

.card-paragraph {
  max-width: 200px;
  max-height: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.pokemonDetails {
  text-align: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
